@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-slate-800 bg-white dark:bg-slate-900 dark:text-gray-100 transition-colors duration-300;
  }
}

/* DatePicker Overrides */
.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container input {
  width: 100%;
}