@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-charcoal bg-cream dark:bg-navy dark:text-cream transition-colors duration-300;
  }
}